{{!< post}}
   {{#post}}
<!-- 	<div class="container-fluid trv-content">
		<section class="post-content">
		<form name="contactForm"  ng-controller="contactController as form" ng-submit="form.submit(contactForm.$valid, data)" style="width:620px; float:left;">Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input ng-model="data.message"> {{data.message}}
		<p></p>
			PR Interest: <div class="btn-group"><label class="btn btn-primary" ng-model="checkModel.articles" btn-checkbox>articles</label><label class="btn btn-primary" ng-model="checkModel.news" btn-checkbox>news</label>
				<label class="btn btn-primary" ng-model="checkModel.publishing" btn-checkbox>publishing</label><label class="btn btn-primary" ng-model="checkModel.advertising" btn-checkbox>advertising</label>
			</div> 
				<p></p>
			Company:&nbsp;&nbsp; &nbsp; <input ng-model="data.company">  {{data.company}} Designation: &nbsp; <input ng-model="data.job"> {{data.job}}
				<p></p>
				Address: &nbsp; &nbsp; &nbsp; <input ng-model="data.address"> {{data.address}}
				<p></p>
					Contact No: &nbsp; <input ng-model="data.address1"> {{data.address1}}  
					Country: <country-select data-ng-model="selectedCountry"></country-select>{{selectedCountry}}
					<p></p>
						Email: <input type="email" custom-validator name="emailAdd" min-length="5" max-length="100" ng-model="data.email" required> {{data.email}}  <div ng-if="contactForm.emailAdd.$invalid">
						      Email needs to be valid...
						</div>   <input type="checkbox">    
						<p></p>
					Message: <textarea ng-model="data.message"> {{data.message}} </textarea>
					<p></p>
				<button class="btn-default" type="submit" text="submit"> Submit </button>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d497.40329273933776!2d73.50367415708128!3d4.175858167006616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b3f7e5302963c67%3A0xd15a0d462152a40a!2sMaldives+Oceanic+Dreams!5e0!3m2!1sen!2smv!4v1412756863669" width="600" height="450" frameborder="0" style="border:0"></iframe>

		Social Media: facebook: twitter: Submit: footer
		    
		</form></section>
	</div> -->
{{/post}}