   <div id="feed">
      <ul class="trv-all-li trv-more-list">
        <li> <span> LATEST TRIPS </span><span><br><strong class="off-blue trv-tags"> Trip Schedule 
          </strong></span></li>
            {{#foreach posts}}
               {{#has tag="feed-bg"}}
                     <li><!--<span class="trv-promo-title"> <a href="{{url}}">{{{title}}} </a></span> <span> <time class="post-date" datetime="{{date format='l'}}">{{date format="l"}} </time>  --> &nbsp; {{content}}</li>    
            {{/has}}             
            {{/foreach}}
            <!-- Start displaying from the second post on -->
            {{#foreach posts}}
              {{#has tag="feed-sm"}}
                 <li> <!-- <span class="trv-small-title"><a href="{{url}}">{{{title}}} </a><time class="post-date" datetime="{{date format='DD-MM-YY'}}">{{date format="DD/MM"}} </time> -->
 {{content}}  &nbsp;</li>
              {{/has}}                 
          {{/foreach}}
     </ul>
</div>


